<!DOCTYPE html>
<html ng-app="wgApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Washingguns</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/customcss/navbar.css" rel="stylesheet">
    <link href="css/customcss/mainSlider.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/customcss/pricing.css" rel="stylesheet">
    <link href="css/Testimonials.css" rel="stylesheet">
</head>
<style>
    @media (min-width: 544px){
        .modal-dialog {
            width: 90%;
            margin: 30px auto;
        }
    }
    @media (min-width: 768px){
        .modal-lg {
            width: 70%;
        }
    }

    .service-grid:hover{
        background-color:rgba(255,255,255,0.5);
    }
</style>
<body ng-controller="wgCtrl">
<div class="container-fluid">
    <div class="navbar navbar-dark navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="col-md-6 ">
                    <a class="navbar-brand pull-sm-left text-primary" href="#"><img src="images/svg/washinggunslogo.svg" alt="Washingguns" width="300px;"/></a>
                </div>
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="row" style="position:absolute; top:2px; right:0px;">
                                <div style="width:200px;padding-left:10px;">
                                    <a href="https://play.google.com/store/apps/details?id=com.washingguns.washingguns&hl=en" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i> Download App
                                    <img src="images/googlePlayWg.png" width="150px" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Page Image Background Carousel Header -->
<header>
    <div class="container-fluid" style="padding-left:0;padding-right:0;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item" style="height: 30em;background-position: center;background-repeat: no-repeat;background-image:url('images/mainSlider/washinggunsHomeCleaning.jpg');background-size: cover;">
                </div>
                <div class="carousel-item active" style="height: 30em;background-position: center;background-repeat: no-repeat;background-image:url('images/mainSlider/SofaCleaning.jpg');background-size: cover;">
                </div>
                <div class="carousel-item" style="height: 30em;background-position: center;background-repeat: no-repeat;background-image:url('images/mainSlider/bathroomcleaning.jpg');background-size: cover;">
                </div>
            </div>
        </div>
    </div>
    <div class="serviceSearchArea container">
        <div class="row" class"searchElements">
            <div class="col-md-12 ">
                <div class="col-sm-12 col-md-5" style="display:block; padding-bottom: 5px;">
                    <small id="locationError" class="text-danger" style="display:none; padding-left:10px; padding-right:10px; border-radius:4px; background-color: #ffffff; opacity:0.95; position:absolute; z-index: 2; top:-21px;">Please select location</small>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary dropdown-toggle bg-primary" id="selectUserLocation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-map-marker"  aria-hidden="true"></i> Location
                            </button>
                            <div class="dropdown-menu" id="locationDropDown">
                                <div class="dropdown-header bg-primary">Delhi NCR</div>
                                <div class="dropdown-item linkLocation">Delhi</div>
                                <div class="dropdown-item linkLocation">Faridabad <span class="label label-danger" style="float:right;">New</span></div>
                                <div class="dropdown-item linkLocation">Gurgaon <span class="label label-danger" style="float:right;">New</span></div>
                                <div class="dropdown-item linkLocation">Noida </div>
                                <div role="separator" class="dropdown-divider"></div>
                                <div class="dropdown-item linkLocation">Banglore <span class="label label-danger" style="float:right;">New</span></div>
                                <div class="dropdown-item linkLocation">Hyderabad <span class="label label-danger" style="float:right;">New</span></div>
                                <div class="dropdown-item linkLocation">Mumbai <span class="label label-danger" style="float:right;">New</span></div>
                                <div class="dropdown-item linkLocation">Pune <span class="label label-danger" style="float:right;">New</span></div>
                            </div>
                        </div>
                        <input type="text" class="form-control " id="userLocation"  placeholder="Delhi | Gurgaon | Noida | Mumbai" aria-label="Text input with dropdown button">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12" style="display:block; padding-bottom: 5px;">
                    <small id="serviceError" class="text-danger" style="display:none; padding-left:10px; padding-right:10px; border-radius:4px; background-color: #ffffff; opacity:0.95; position:absolute; z-index: 2; top:-21px;">Please select service</small>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" id="initiator" class="btn btn-secondary dropdown-toggle bg-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Looking For
                            </button>
                            <div class="dropdown-menu row lookingFor" >
                                <li class="col-md-4 col-sm-6">
                                    <ul style="padding-left:0;">
                                        <li class="dropdown-header bg-primary">Laundry</li>
                                        <li class="dropdown-item wgServices">Domestic Laundry</li>
                                        <li class="dropdown-item wgServices">Commercial Laundry</li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-header">Dry Cleaning</li>
                                        <li class="dropdown-item wgServices">Clothes Dry Cleaning</li>
                                        <li class="dropdown-item wgServices">Shoe Dry Cleaning</li>
                                        <li class="dropdown-item wgServices">Commercial Dry Cleaning Services</li>
                                    </ul>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <ul style="padding-left:0;">
                                        <li class="dropdown-header">Home Services</li>
                                        <li class="dropdown-item wgServices">Bathroom Deep Cleaning</li>
                                        <li class="dropdown-item wgServices">Carpet Cleaning</li>
                                        <li class="dropdown-item wgServices">Deep Home Cleaning</li>
                                        <li class="dropdown-item wgServices">Sofa Cleaning</li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-header">Office Services</li>
                                        <li class="dropdown-item wgServices">Carpet Cleaning</li>
                                        <li class="dropdown-item wgServices">Chair Cleaning</li>
                                        <li class="dropdown-item wgServices">Deep Office Cleaning</li>
                                        <li class="dropdown-item wgServices">Window/Glass Cleaning</li>
                                        <li class="dropdown-item wgServices">Window Blinds Cleaning</li>
                                    </ul>
                                </li>
                                <li class="col-md-4 col-sm-6">
                                    <ul style="padding-left:0;">
                                        <li class="dropdown-header">Pest Control</li>
                                        <li class="dropdown-item wgServices">Bed Bugs Control</li>
                                        <li class="dropdown-item wgServices">Cockroach Control</li>
                                        <li class="dropdown-item wgServices">General Pest COntrol</li>
                                        <li class="dropdown-item wgServices">Rodent Control</li>
                                        <li class="dropdown-item wgServices">Termite Control</li>
                                        <li class="dropdown-divider"></li>

                                    </ul>
                                </li>

                            </div>
                        </div>
                        <input type="text" ng-model="userServiceSelection" id="userServiceSelection" placeholder="Laundry | Home | Shoe | Other"class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
                <div class=" col-md-2 col-sm-12" >

                    <button type="button" id="BookNow"  class="btn btn-success center-block" style="width:100%;">Book Now <i class="fa fa-chevron-right" ></i></button>


                </div>
            </div>
        </div>
    </div>

</header>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" style="display: block; position:absolute; top:10px; right:250px;" data-toggle="modal" data-target="#myModal">
    Check
</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <progress class="progress progress-primary" style="position:relative;top:0;left:0;height: 0.25em;" value="50" max="100">50%</progress>
            <div class="modal-body">
                <div class="choosePackage" style="padding-left:0.5em;padding-right:0.5em;">

                <div  style="" class="row">

                    <a class="left btn btn-info-outline" style="background-image: none;" href="#carousel-product-generic" data-slide="prev">
                        <span class="icon-prev "></span>
                        <i class="fa fa-chevron-left"></i> Prev
                    </a>
                    <a class="right btn btn-info-outline pull-sm-right" style="background-image: none;" href="#carousel-product-generic" data-slide="next">
                        <span class="icon-next "></span>
                        Next <i class="fa fa-chevron-right" ></i>
                    </a>
                    <hr/>
                    <div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators" style="display:none;">
                            <li data-target="#carousel-product-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-product-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-product-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4"  ng-repeat="service in filteredResults =(serviceMeta.records  | filter:packageFilter)">
                                        <div class="card">
                                            <div class="card-header text-sm-center bg-warning">
                                                <span>{{service.Package}}</span>
                                            </div>
                                            <div class="card-block text-sm-center" style="background-color: rgba(240, 173, 78, 0.81);">
                                                <div class="card-title price" style="color:#ffffff;">
                                                    <strike>{{service.Slashed_price}}</strike>
                                                    <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                                    <span>{{service.Package_amount}}</span>
                                                    <sub>{{service.Package_subscription}}</sub><br/>
                                                    <small ng-repeat="high in service.Package_highlights track by $index">{{service.Package_highlights.length==$index-1? " "+high:high+" |"}}</small>
                                                </div>
                                            </div>
                                            <ul class="list-group list-group-flush text-sm-center">
                                                <li ng-repeat="desc in service.Description" class="list-group-item"><span class="text-warning"><i class="fa fa-{{desc.icon]}"></i>{{desc.desc}}</span></li>
                                            </ul>
                                            <div class="card-footer text-sm-center bg-warning">
                                                <span>{{service.Package}} Package</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <div class="card">
                                            <div class="card-header text-sm-center bg-success">
                                                <span> Premimum Package </span>
                                            </div>
                                            <div class="card-block text-sm-center" style="background-color: rgba(92, 184, 92, 0.81);">
                                                <div class="card-title price" style="color:#ffffff;">
                                                    <strike>120</strike>
                                                    <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                                    <span>100</span>
                                                    <sub> / Kg</sub><br/>
                                                    <small>Sanitized | Perfumed | Laundered | Ironed</small>
                                                </div>
                                            </div>
                                            <ul class="list-group list-group-flush text-sm-center">
                                                <li class="list-group-item"><span class="text-success"><i class="fa fa-life-saver"></i><strong> One Time Pack </strong></span></li>
                                                <li class="list-group-item"><span class="text-success"><i class="fa fa-bitbucket"></i> Minimum Pickup<strong> 4 Kgs</strong></span></li>
                                                <li class="list-group-item"><span class="text-success"><i class="fa fa-flash"></i> Express delivery within<strong> *24 hrs</strong></span></li>
                                                <li class="list-group-item"><span class="text-success"><i class="fa fa-shopping-bag"></i> <strong>Individual Packaging</strong></span></li>
                                            </ul>
                                            <div class="card-footer text-sm-center bg-success">
                                                <span>Laundry Package</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button id="bookAction" type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>
<section class="container" style="display:none;">

    <div class="row">

        <a class="left btn btn-info-outline" style="background-image: none;" href="#carousel-product-generic" data-slide="prev">
            <span class="icon-prev "></span>
            <i class="fa fa-chevron-left"></i> Prev
        </a>
        <a class="right btn btn-info-outline pull-sm-right" style="background-image: none;" href="#carousel-product-generic" data-slide="next">
            <span class="icon-next "></span>
            Next <i class="fa fa-chevron-right" ></i>
        </a>
        <hr/>
        <div id="carousel-product-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="display:none;">
                <li data-target="#carousel-product-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-product-generic" data-slide-to="1"></li>
                <li data-target="#carousel-product-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header text-sm-center bg-warning">
                                    <span> Gold Class </span>
                                </div>
                                <div class="card-block text-sm-center" style="background-color: rgba(240, 173, 78, 0.81);">
                                    <div class="card-title price" style="color:#ffffff;">
                                        <strike>1199</strike>
                                        <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                        <span>899</span>
                                        <sub> / month</sub><br/>
                                        <small>Sanitized | Perfumed | Laundered | Ironed</small>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush text-sm-center">
                                    <li class="list-group-item"><span class="text-warning"><i class="fa fa-calendar"></i> Valid upto <strong>30 Days</strong></span></li>
                                    <li class="list-group-item"><span class="text-warning"><i class="fa fa-shopping-bag"></i> Total Laundry basket <strong>20 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-warning"><i class="fa fa-bitbucket"></i> Minimum pickup weight <strong>4 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-warning"><i class="fa fa-clock-o"></i> Delivery within <strong>*48 hrs</strong></span></li>
                                </ul>
                                <div class="card-footer text-sm-center bg-warning">
                                    <span>Laundry Package</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header text-sm-center bg-primary">
                                    <span> Silver Class </span>
                                </div>
                                <div class="card-block text-sm-center" style="background-color: rgba(2, 117, 216, 0.81);">
                                    <div class="card-title price" style="color:#ffffff;">
                                        <strike>899</strike>
                                        <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                        <span>499</span>
                                        <sub> / month</sub><br/>
                                        <small>Perfumed | Laundered | Ironed</small>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush text-sm-center">
                                    <li class="list-group-item"><span class="text-primary"><i class="fa fa-calendar"></i> Valid upto <strong>30 Days</strong></span></li>
                                    <li class="list-group-item"><span class="text-primary"><i class="fa fa-shopping-bag"></i> Total Laundry basket <strong>10 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-primary"><i class="fa fa-bitbucket"></i> Minimum pickup weight <strong>4 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-primary"><i class="fa fa-clock-o"></i> Delivery within <strong>*48 hrs</strong></span></li>
                                </ul>
                                <div class="card-footer text-sm-center bg-primary">
                                    <span>Laundry Package</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header text-sm-center bg-danger">
                                    <span> One Time ( Trial Pack ) </span>
                                </div>
                                <div class="card-block text-sm-center" style="background-color: rgba(217, 83, 79, 0.81);">
                                    <div class="card-title price" style="color:#ffffff;">
                                        <strike>349</strike>
                                        <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                        <span>249</span>
                                        <sub> </sub><br/>
                                        <small>Sanitized | Perfumed | Laundered | Ironed</small>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush text-sm-center">
                                    <li class="list-group-item"><span class="text-danger"><i class="fa fa-warning"></i> <strong>In 1 Go</strong></span></li>
                                    <li class="list-group-item"><span class="text-danger"><i class="fa fa-shopping-bag"></i> Total Laundry basket <strong>4 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-danger"><i class="fa fa-bitbucket"></i> <strong>Single Pickup 4 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-danger"><i class="fa fa-clock-o"></i> Delivery within <strong>*48 hrs</strong></span></li>
                                </ul>
                                <div class="card-footer text-sm-center bg-danger">
                                    <span>Laundry Package</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="card">
                                <div class="card-header text-sm-center bg-success">
                                    <span> Premimum Package </span>
                                </div>
                                <div class="card-block text-sm-center" style="background-color: rgba(92, 184, 92, 0.81);">
                                    <div class="card-title price" style="color:#ffffff;">
                                        <strike>120</strike>
                                        <sup><i class="fa fa-rupee" aria-hidden="true"></i></sup>
                                        <span>100</span>
                                        <sub> / Kg</sub><br/>
                                        <small>Sanitized | Perfumed | Laundered | Ironed</small>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush text-sm-center">
                                    <li class="list-group-item"><span class="text-success"><i class="fa fa-life-saver"></i><strong> One Time Pack </strong></span></li>
                                    <li class="list-group-item"><span class="text-success"><i class="fa fa-bitbucket"></i> Minimum Pickup<strong> 4 Kgs</strong></span></li>
                                    <li class="list-group-item"><span class="text-success"><i class="fa fa-flash"></i> Express delivery within<strong> *24 hrs</strong></span></li>
                                    <li class="list-group-item"><span class="text-success"><i class="fa fa-shopping-bag"></i> <strong>Individual Packaging</strong></span></li>
                                </ul>
                                <div class="card-footer text-sm-center bg-success">
                                    <span>Laundry Package</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<section class="howDoesItWork container" style="padding-bottom:3em;">
    <div class="row text-sm-center" style="padding-top:30px;">
        <h1 style="font-family: 'TwCenMT-CondensedExtraBold';">HOW DOES IT WORK ?</h1>
        <hr>

        <div class="col-md-3">
            <img src="images/process/Location.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold';font-size: 1.5em;">Location <small><span  class="infoPopOver" data-toggle="popover" title="Location Info" data-content="Delhi | Faridabad | Gurgaon | Noida | Mumbai"><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small>
        </div>
        <div class="col-md-3">
            <img src="images/process/Service.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold';font-size: 1.5em;">Choose Service <small><span  class="infoPopOver" data-toggle="popover" title="18+ Services" data-content="Choose the service you are looking for. We will take care of the rest."><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small>
        </div>
        <div class="col-md-3">
            <img src="images/process/Order-Confirmation.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold';font-size: 1.5em;">Order Confirmation <small><span  class="infoPopOver" data-toggle="popover" title="Confirmation" data-content="Order confirmation may take a maximum of 30 mins."><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small></span>
        </div>
        <div class="col-md-3">
            <img src="images/process/serviceguy.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold'; font-size: 1.5em;">Service / Pickup Boy <small><span  class="infoPopOver" data-toggle="popover" title="Service/Pickup Boy" data-content="In accordance to the scheduled time. The service personal would be visiting you either for pickup or service."><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small></span>
        </div>


    </div>
    <div class="row text-sm-center" style="padding-top:30px;">
        <div class="col-md-offset-3 col-md-3">
            <img src="images/process/delivered.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold'; font-size: 1.5em;">Service Turn Around <small><span  class="infoPopOver" data-toggle="popover" title="Service Turn Around" data-content="Pickup Services the maximum turn around time is 48 hrs | For location service the maximum turn around varies in accordance to the order size. | Note: Turn around time mentioned is not valid for weekends."><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small></span>
        </div>
        <div class="col-md-3">
            <img src="images/process/MakePayment.png" style="padding-bottom:1em; width:40%;"/><br/>
            <span style="font-family: 'TwCenMT-CondensedExtraBold'; font-size: 1.5em;">Make Payment <small><span  class="infoPopOver" data-toggle="popover" title="Payment Mode" data-content="We Accept payments through CASH | CREDIT CARD | DEBIT CARD | PayTm"><i style="color:gainsboro;"class="fa fa-info-circle" aria-hidden="true"></i></span></small></span>
        </div>
    </div>
</section>

<section class="services  container-fluid" style="display:block; background: url('images/checkBackground.jpg') fixed; background-size: cover;">
    <div class="container">
        <div class="row text-sm-center" style="background-color: rgba(255,255,255,0.75); padding-top:30px;">
            <h1 style="padding:10px 0px; font-family:TwCenMT-CondensedExtraBold;">SERVICES</h1>
            <hr>
        </div>
        <div class="row text-sm-center" style="padding-top:10px;">
            <a href="services?serviceType=Laundry" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/Laundry.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Laundry</span>
            </div>
            </a>
            <a href="services?serviceType=Dry-clean" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/DryClean.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Drycleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Deep Home Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/HomeCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Home Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Carpet Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/CarpetCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Carpet Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Shoe Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/ShoeCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Shoe Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Sofa Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/wgsofaclean.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Sofa Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Deep Home Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/ChairCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Chair Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Kitchen Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/Kichen.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Kitchen Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Pest Control" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/PestControl.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Pest Control</span>
            </div>
            </a>
            <a href="services?serviceType=Car Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/CarCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Car Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Glass Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/WindowCleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Glass Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Bathroom Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/Bathroom.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Bathroom Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Window Blinds Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/Blinds-Cleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Blinds Cleaning</span>
            </div>
            </a>
            <a href="services?serviceType=Office Cleaning" target="_self">
            <div class="service-grid col-xs-3" style="border:2px dashed rgba(255,255,255,1);margin-top:1px; margin-bottom:1px;">
                <img src="images/services/Office-Cleaning.png" style="padding-top:0.5em; padding-bottom:0.3em; width:40%;"/><br/>
                <span style="font-size: 2em; font-family:TwCenMT-CondensedExtraBold;  color:rgb(255,255,255); ">Office Cleaning</span>
            </div>
            </a>

        </div>

    </div>

</section>

<section id="testimonials">
    <div class="carousel-reviews broun-block">
        <div class="container text-sm-center">
            <h1 style="padding-top:30px;font-family: 'TwCenMT-CondensedExtraBold';">TESTIMONIALS</h1>
            <hr>
            <div class="row">

                <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text rel zmin">
                                    <a title="" style="font-family: 'TwCenMT-CondensedExtraBold'" href="#">Hercules</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>

                                </div>
                                <div class="person-text rel">
                                    <img src="images/testimonials/1.png"/>
                                    <span>annynm</span>
                                    <i>from Glasgow, Scotland</i>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text rel zmin">
                                    <a title="" href="#">The Purge: Anarchy</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>

                                </div>
                                <div class="person-text rel">
                                    <img src="images/testimonials/2.png"/>
                                    <span>annynm</span>
                                    <i>United States</i>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text rel zmin">
                                    <a title="" href="#">Planes: Fire & Rescue</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>

                                </div>
                                <div class="person-text rel">
                                    <img src="images/testimonials/3.png"/>
                                    <span>annynm</span>
                                    <i>Indonesia</i>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text rel zmin">
                                    <a title="" href="#">Planes: Fire & Rescue</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>

                                </div>
                                <div class="person-text rel">
                                    <img alt="" src="images/testimonials/4.png">
                                    <span>annynm</span>
                                    <i>from Glasgow, Scotland</i>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text rel zmin">
                                    <a title="" href="#">The Purge: Anarchy</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>

                                </div>
                                <div class="person-text rel">
                                    <img alt="" src="images/testimonials/5.png">
                                    <span>annynm</span>
                                    <i>United States</i>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text rel zmin">
                                    <a title="" href="#">Planes: Fire & Rescue</a>
                                    <hr style="margin:0.2em 0.3em;"/>
                                    <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>

                                </div>
                                <div class="person-text rel">
                                    <img alt="" src="images/testimonials/5.png">
                                    <span>annynm</span>
                                    <i>Indonesia</i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="media">
    <div class="container-fluid">
        <div class="container text-sm-center">
            <h1 style="font-family: 'TwCenMT-CondensedExtraBold';">MEDIA COVERAGE</h1>
            <hr>
            <div class="row">
                <a href="http://knowstartup.com/2016/02/laundry-worries-washingguns/" target="_blank">
                <div class="col-md-4" >
                    <img style="box-shadow: 5px 5px 3px rgba(0,0,0,0.5); width:120px; " src="images/media/knowstartup.png">
                </div>
                </a>
                <a href="https://bizztor.com/washingguns/" target="_blank">
                <div class="col-md-4">
                    <img style="box-shadow: 5px 5px 3px rgba(0,0,0,0.5); width:120px;" src="images/media/bizztor.png">
                </div>
                </a>
                <a href="http://motivateme.in/washingguns-no-laundry-worries/" target="_blank">
                <div class="col-md-4">
                    <img style="box-shadow: 5px 5px 3px rgba(0,0,0,0.5); width:120px;" src="images/media/MotivateMe.png">
                </div>
                </a>
            </div>
        </div>
    </div>>
</section>
<footer class="container-fluid" style="padding-top:30px;;background:#000000; background-size:cover;">
    <div class="container">
        <div class="col-md-4" >
            <ul style="list-style: none; font-family: 'TwCenMT-CondensedExtraBold'; font-size:1.4em;">
                <li><a style="color:inherit;" href="http://washingguns.com/Docs/Washingguns-Terms.pdf" target="_blank">Terms & Conditions</a></li>
                <li><a style="color:inherit;" href="http://washingguns.com/Docs/Washingguns-Privacy-Policy.pdf" target="_blank">Privacy Policy</a></li>
                <li><a style="color:inherit;" href="http://www.washingguns.com/blog/">Washingguns Blog</a></li>
                <li><a style="color:inherit;" href="http://www.washingguns.com/blog/">Frequently Asked Questions</a></li>
            </ul>
        </div>
        <div class="col-md-4" >
            <ul style="list-style: none; font-family: 'TwCenMT-CondensedExtraBold'; font-size:1.4em;">
                <li><h4>Contact Info</h4></li>
                <li>Email: info@washingguns.com</li>
                <li>Give a miss call on <br> 1800-833-2020. To get a callback from us.</li>
            </ul>
        </div>
        <div class="col-md-4" >
            <ul style="list-style: none; font-family: 'TwCenMT-CondensedExtraBold'; font-size:1.4em;">
                <li><h4 style="">Stay Connected</h4></li>
                <li><a href="https://www.facebook.com/washingguns/" style="color:inherit; font-size:2em;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> <a style="color:inherit; font-size:2em;" href="https://twitter.com/washingguns"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a style="color:inherit; font-size:2em;" href="http://www.imgrum.net/user/washingguns/3138808535"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a style="color:inherit; font-size:2em;" href="https://plus.google.com/115051384916658048148"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li>Download App</li>
                <li><a href="https://play.google.com/store/apps/details?id=com.washingguns.washingguns&hl=en"><img src="images/playstore.png" style="margin-left:-10px;width:140px;"/></a></li>
            </ul>
        </div>
    </div>
</footer>
<section class="container" id="buyButtonConatiner" style="display:none;">
    <div class="row" id="rowNext">
        <progress id="progressBarBuyPack" class="progress progress-bar" value="99" max="100" style="position:relative; top:20px;   height: 0.2em;">100%</progress>
        <div class="col-md-3 text-sm-center">
            <button type="button" id="step1"  class="btn btn-secondary" style="border-radius: 50%; height:70px; font-size:2em; width:70px; outline: none;"><i class="fa fa-shopping-bag"></i> </button>
        </div>
        <div class="col-md-3 text-sm-center">
            <button type="button" id="step2"  class="btn btn-secondary" style="border-radius: 50%; height:70px; font-size:2em; width:70px; outline: none;"><i class="fa fa-clock-o"></i> </button>
        </div>
        <div class="col-md-3 text-sm-center">
            <button type="button" id="step3"  class="btn btn-secondary" style="border-radius: 50%; height:70px; font-size:2em; width:70px; outline: none;"><i class="fa fa-map-marker"></i> </button>
        </div>
        <div class="col-md-3 text-sm-center">
            <button type="button" id="step4"  class="btn btn-warning" style="border-radius: 50%; height:70px; font-size:2em; width:70px; outline: none;"><i class="fa fa-check"></i> </button>
        </div>

    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/other/navbar.js"></script>
<script src="js/other/ie10-viewport-bug-workaround.js"></script>
<script src="js/other/customJs/MainNavBar.js"></script>
<script src="js/other/customJs/buyPack.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>

    var app = angular.module('wgApp', []);
    app.controller('wgCtrl', function($scope, $http) {
        $http.get("getServiceMeta")
                .then(function(response) {
                    $scope.serviceMeta = response.data;
                    console.log("Through Angular:"+$scope.serviceMeta.records);

                });
        $scope.packageFilter = function (record) {

            console.log($scope.userServiceSelection);
            console.log(record.Service === $scope.userServiceSelection);
            return record.Service === $scope.userServiceSelection;
        };
    });

</script>
</body>
</html>
