.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#myCarousel.carousel.slide {width: 100%; max-width: 1024; !important}
.controlsMainSlider{
    display: none!important;
}

.serviceSearchArea{

    background-color:#ffffff;
    width:100%;
    position:absolute;
    opacity: 0.95;
    height: 4em;
    top:10em;
    z-index:4;


}
.serviceSearchArea > .row{
    height:4em;
    display:flex;
    align-items: center;
}
.serviceSearchArea > .row *{

    margin-bottom: 0;

}
.dropdown-item{
    cursor: pointer; cursor: hand;
}