
/* Background images are set within the HTML using inline CSS, not here */

.fill {

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#myCarousel.carousel.slide {width: 100%; max-width: 1024; !important}
.controlsMainSlider{
    display: none!important;
}
.searchElements{
    padding-top:1em;
    padding-bottom:1em;
    background-color:#ffffff;
}

.serviceSearchArea{

    background-color:#ffffff;
    width:100%;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0.95;
    height: 4em;
    top:10em;
    z-index:4;


}
.serviceSearchArea > .row{
    height:4em;
    display:flex;
    align-items: center;
}
.serviceSearchArea > .row *{
    margin-bottom: 0;

}
.dropdown-item{
    cursor: pointer; cursor: hand;
}
.backStripSlider{
    position:absolute;top:2em;right:1em;width:100%;
}